{% extends "base.html" %}

{% block announce %}
  For updates follow <strong>@ironicbadger</strong> on
  <a rel="me" href="https://techhub.social/@ironicbadger">
    <span class="twemoji mastodon">
      {% include ".icons/fontawesome/brands/mastodon.svg" %}
    </span>
    <strong>Mastodon</strong>
  </a>
  or on YouTube -
  <a rel="me" href="https://youtube.com/@ktzsystems">
    <span class="twemoji mastodon">
      {% include ".icons/fontawesome/brands/youtube.svg" %}
    </span>
    <strong> KTZ Systems</strong>
  </a>
{% endblock %}