---
title: Quick Sync Video Testing Results
date: 2024-05-11
authors: [ironicbadger]
categories:
  - research
readtime: 2
---

Back last autumn, I put a call out for some community Quick Sync Video (QSV) testing. The results are now at a point some 8 months later where we can draw some conclusions. I've written up my thoughts in some detail on [blog.ktz.me](https://blog.ktz.me/the-best-media-server-cpu-in-the-world/).

Thank you to all of you who ran these tests and made this possible.